@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

*{margin: 0px;padding: 0px; text-decoration: none;}

body{
    font-family: 'Chivo', sans-serif;
    background-image: url(img/pattern.jpg);
    background-repeat: repeat-y;
    background-position: top center;
    background-size: 100%;
}

#inicio a img{
    width: 90px;
    height: 90px;
}

.activo{
    border-bottom: white 2px solid;
}

nav{
    background-color: #111111;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20px 0px;
    font-family:  'Chelsea Market';
}

#banner{
    background-image: url(img/banner_te.jpg) ;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    height:400px;
    box-shadow: inset 0 0 10px 3px black;
}

#banner h1{
    color: #e6e6e9;
    text-align: center;
    padding-top: 2em;
    padding-right: 30px;
    font-size: 4em;
    font-weight: 800;
    font-family: 'Chelsea Market' ;  
}

nav div a{
    color: white;
    padding: 15px 20px;
    margin-left: 5px;
    text-decoration: none;
    transition: all 0.3s; 
    font-size: 0.9em;
    font-weight:500; 
    position: relative;
    overflow: hidden;
    display: inline-block;
}
 
nav div a:after {
    content:"";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: white;
    transition: left .6s;
}

nav div a:hover:after{
    left: 0;
}

nav img{display: block;
padding-left: 30px;}

#centro{
    margin: 0 auto;
    width: 70%;
}

/*Estaciones*/

#estacion,#catalogo{
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: center;
    margin-left: 2em;
    padding-bottom: 1em;
}

#estacion h1,#catalogo h1{
    margin-top: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.8em;
    text-align: left;
    font-family: 'Chelsea Market';
}

.titulo{
    font-size: 2.5em;
    text-align: center;
    letter-spacing: 2px;
    padding-bottom: 20px;
    font-weight: bolder;
    padding-top: 20px;
    font-family: 'Chelsea Market';
}

#estacion h2,#catalogo h2{
    letter-spacing: normal;
    font-weight: 400;
    font-size: 1em;
}

#estacion h3,#catalogo h3{
    font-size: 0.9em;
    font-weight: 500;
    margin-top: 0.5em;
    text-align: left;
}

#estacion div,#catalogo div{
    width: 100%;
    margin-bottom: 1em; 
}

#estacion article,#catalogo article{
    width: 20%;
    display: flex;
    border: #111111 solid 1px;
    background-color: white;
    padding: 1em;
    margin-left: 0.5em;
    height: 500px;
    margin-bottom: 10px;
    border-radius: 3%;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}


#estacion img,#catalogo img{
    width: 70%;

}

#estacion a, #catalogo a,#recomendacion a,#info a, #modal a{
    font-family:'Chelsea Market' ;
   border-bottom: #111111 solid 1px;
    padding: 5px;
    color: black;
    justify-self: center;
    margin-right: 1em;

}
#estacion a:hover, #catalogo a:hover,#recomendacion a:hover,#info a:hover, #modal a:hover{
    border: white solid 1px;
   background-color:#111111d7;   
   color: white;

   transition: all 1s;
   }


/*Grilla*/

#grilla{
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(4,1fr); 
    grid-template-rows: 1fr 1fr;  
    padding-top: 2em;
    font-family: 'Chelsea Market';
}

#grilla article{
    background-size: cover;
    background-position: center center;
    color: white;
    align-items: center;
}

#grilla article p{
    font-weight: 500;
    font-size: 0.8em;
    line-height: 1.6em;
    margin: 1em;
    font-family:'Chivo', sans-serif;
}

#grilla article h3{
    font-weight: 400;
    font-size: 2em;
    margin-bottom: 0.5em;
}

#grilla article:nth-of-type(1){ 
    grid-column: span 2;
    grid-row: span 1;
    background-image: url(img/grilla1_dark.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    text-align: center;
    transition: all 1s;
    color: black;
}

#grilla article:nth-of-type(1) a{
    color: #111111;
}

#grilla article:nth-of-type(2){
    background-color: #111111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    text-align: center;
}

#grilla article:nth-of-type(3){
    background-image: url(img/grilla3.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    text-align: center;
    transition: all 1s;
}

#grilla article:nth-of-type(4){
    background-color: #111111;
    transition: all 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    text-align: center;
}

#grilla article:nth-of-type(5){
    background-image: url(img/grilla4.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    text-align: center;
    transition: all 1s;
}

#grilla article:nth-of-type(6){
    background-image: url(img/grilla5_dark.png);
    display: flex;
    grid-column: span 2;
    grid-row: span 1;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    text-align: center;
    transition: all 1s;
}

#grilla article a{
    color: white;
    transition: all 0.3s;
    padding: 0.5em 0.8em;
}

#grilla article a:hover{
    background-color: white;
    color: #111111;
}

#grilla article div{
    opacity: 0;
    width: 100%;
}

#grilla article:hover div{
    opacity: 1;
}

#grilla article:nth-of-type(1):hover{
    background-image: url(img/grilla1.jpg), radial-gradient(rgba(0, 0, 0, 0.39),rgba(0, 0, 0, 0.836));
    background-blend-mode: darken;
}

#grilla article:nth-of-type(3):hover{
    background-image: url(img/grilla3_dark.png), radial-gradient(rgba(0, 0, 0, 0.39),rgba(0, 0, 0, 0.836));
    background-blend-mode: darken;
}

#grilla article:nth-of-type(5):hover{
    background-image: url(img/grilla4_dark.png), radial-gradient(rgba(0, 0, 0, 0.39),rgba(0, 0, 0, 0.836));
    background-blend-mode: darken;
}
#grilla article:nth-of-type(6):hover{
    background-image: url(img/grilla5.jpg), radial-gradient(rgba(0, 0, 0, 0.39),rgba(0, 0, 0, 0.836));
    background-blend-mode: darken;
}

/*EQUIPO*/

#equipo{
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    align-items: center;
    width: 94%;
}

#equipo img{
    width: 30%;
    border-radius: 5%;
    margin-left: 15px;
    
}

#equipo article{
    display: flex;
    flex-direction: row;
}

#equipo h1{
    font-size: 2em;
    font-family: 'Chelsea Market';
}

#equipo h3{
    font-family: 'Chelsea Market';
    text-decoration: underline 1px solid;
}

#equipo p{
    width: 80%;
    letter-spacing: 1px;
    font-size: 600;
    text-align: justify;
}

#txtEquipo{
    background-color: #11111148;
    border-radius: 5%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-content: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.centro2 input{
    width: 35px;
    height: 35px;
    background-color: #111111;
    color: white;
    border: none;
    border-radius: 80%;
}

.centro2 input:hover{
    width: 35px;
    height: 35px;
    background-color: white;
color: #111111;
    border: black solid 1px;
    transition: 0.5s;
    border-radius: 80%;
}

.centro2{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*DETALLE*/
#principal{
    margin: 0 auto ;
    width: 70%;
    display: flex;
    padding: 25px;
    margin-top: 3em;
    background-color: rgba(255, 255, 255, 0.719) ;
    height: 85vh;
}

#columna_der {
    width: 45%;
    margin-top: 60px;
   
  }
  
#info{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    
}
  
#columna_izq {
    width: 65%;
    position: relative;
   
  }
   
#columna_izq img {
    width: 70%;
    border-radius: 100%;
  }
   
#info h1 {
    font-weight: 500;
    font-size: 52px;
    letter-spacing: 2px;
    margin-top: 10px;
    font-family: 'Chelsea Market';
  }

#info h2{
    font-size: 1.2em;
    font-weight: 600;
    color: #111111;
    line-height: 24px;
  }

#miniaturas{
    width: 800px;
    margin: 3px auto;  
 }

#miniaturas img{
    width: 17%;
    opacity: 0.5;
    transition: 0.5s;
    margin: 0.5em;
 }

#miniaturas img:hover{
    opacity: 1;}

#precio{
    padding: 10px;
    text-align: center;
    margin-bottom: 5px;
}
/*RECOMENDACIONES*/

#recomendaciones{
margin:  0 auto;
background-color: white;
border-radius: 10%;
box-shadow: 10px 5px 20px 5px black;
width: 350px;
margin-bottom: 2em;
}

#recomendaciones img{
    width: 40%;
    border-radius: 100%;
}

#recomendacion{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding: 5px;
    text-align: center;
}

#recomendacion h1{
    font-family: 'Chelsea Market';
    font-size: 17px;
}

#recomendacion h2{  
   font-size: 15px;
}

#recomendacion h3{
   font-size: 13px;
}

#reco{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reco h1{
    font-size: 30px;
    font-family:'Chelsea Market' ;
    margin-bottom: 0.5em;
    text-align: center;
}

/*REGISTRO*/

#registro{
    width: 400px;
    margin: 0 auto;
    background-color: white;

}

#registro input, #centro input{
    padding: 10px;
}

.datos{ 
    padding: 10px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

#registro h1{
    font-size:3em;
    font-family:'Chelsea Market' ;
    margin: auto 0;
}

#registro select, #centro select{
    padding: 3px;
    margin-bottom: 2px;
}

#tipo,#txt_buscar{
    margin-bottom: 1em;
}


footer{
    text-align: center;
    font-size: 12px;
    border-top: 1px solid #b5b5b5;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
}

#modal{
    background-color: white;
    border-bottom: #111111 5px solid;
    border-top: #111111 5px solid;
    width: 420px;
    height: 250px;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
}

#modal h1{
    font-family:'Chelsea Market' ;
    margin-bottom: 1em;
}
#modal h2{
   font-size: 21px;
   color: #111111;
   margin-bottom: 1em;
}

#modal p{
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin-left:95%;
    margin-bottom: 2em;
    font-family:'Chelsea Market' ;
}

#modal-hidden {
    display: none;
  }